@font-face {
    font-family: 'FancyCatPX';
    src: url('Font.ttf') format('truetype');
    /* Add more formats if necessary */
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe UI Variable';
    src: url('./Segoe-UI-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

segoe-font {
    font-family: 'Segoe UI Variable', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
        font-family: 'FancyCatPX', sans-serif; /* Use your font with a fallback */
        color: #ff55ff;
        background-color: #250025
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%; /* Adjust width for mobile */
    max-width: 400px; /* Keep it reasonable on larger screens */
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 2em;
}

/* Responsive Styles */
@media (max-width: 1000px) {
    #display {
        font-size: 1.5em;
    }
}

